<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div>
        @DateTime.Now.Year
    </div>
    <footer>
        @RenderSection("footer", required: false)
        <vc:greeter></vc:greeter>
        <vc:login-logout></vc:login-logout>
    </footer>
</body>
</html>
