@*@if (User.Identity.IsAuthenticated)
{
    <div>Hello, @User.Identity.Name</div>
    <a class="btn btn-default" asp-controller="Account" asp-action="Logout"></a>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
}*@

@if (User.Identity.IsAuthenticated)
{
    foreach (var identity in User.Identities)
    {
        <h3>@identity.Name</h3>
        <ul>
            @foreach (var claim in identity.Claims)
            {
                <li>@claim.Type - @claim.Value</li>
            }
        </ul>
    }
}
else
{
    <div>You are not logged in</div>
}