@using OdeToFood2.Models
@model OdeToFood2.Models.Restaurant

<h1>Create</h1>
<form method="post">

    <input asp-for="Name" />

    <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>

    <!--input type="text" name="Name" value="" /-->
    <input type="submit" name="save" value="Save" />
</form>